In [6]:
import pandas as pd
import mysql.connector

In [5]:
%pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.1 MB 3.3 MB/s eta 0:00:05
   -- ------------------------------------- 1.0/16.1 MB 2.2 MB/s eta 0:00:07
   --- ------------------------------------ 1.3/16.1 MB 2.0 MB/s eta 0:00:08
   --- ------------------------------------ 1.6/16.1 MB 1.9 MB/s eta 0:00:08
   ---- ----------------------------------- 1.8/16.1 MB 1.7 MB/s eta 0:00:09
   ----- ---------------------------------- 2.1/16.1 MB 1.6 MB/s eta 0:00:09
   ----- ---------------------------------- 2.4/16.1 MB 1.5 MB/s eta 0:00:10
   ------- -------------------------------- 2.9/16.1 MB 1.6 MB/s eta 0:00:09
   -------- ------------------------------- 3.4/16.1 MB 1.6 MB/s eta 0:00:08
   --------- ------------------------------ 3.7/16.1 MB 1.6 MB/s eta 0:00:08
   ---------- ----------------------------- 4.2/16.1 MB 1.7 MB/s eta 0:00:08
   ----------- ---------------------------- 4.5/16.1 MB 1.6 MB/s eta 0:00:08
   ----------- ---------------------------- 4.7/16.1 MB 1.6 MB/s eta 0:00:07
   ------------ --------------------------- 5.0/16.1 MB 1.6 MB/s eta 0:00:07
   ------------- -------------------------- 5.2/16.1 MB 1.6 MB/s eta 0:00:07
   -------------- ------------------------- 5.8/16.1 MB 1.6 MB/s eta 0:00:07
   --------------- ------------------------ 6.3/16.1 MB 1.6 MB/s eta 0:00:06
   ---------------- ----------------------- 6.6/16.1 MB 1.7 MB/s eta 0:00:06
   ---------------- ----------------------- 6.8/16.1 MB 1.7 MB/s eta 0:00:06
   ----------------- ---------------------- 7.1/16.1 MB 1.6 MB/s eta 0:00:06
   ------------------ --------------------- 7.3/16.1 MB 1.6 MB/s eta 0:00:06
   ------------------- -------------------- 7.9/16.1 MB 1.6 MB/s eta 0:00:06
   -------------------- ------------------- 8.4/16.1 MB 1.6 MB/s eta 0:00:05
   -------------------- ------------------- 8.4/16.1 MB 1.6 MB/s eta 0:00:05
   ---------------------- ----------------- 8.9/16.1 MB 1.6 MB/s eta 0:00:05
   ---------------------- ----------------- 9.2/16.1 MB 1.6 MB/s eta 0:00:05
   ----------------------- ---------------- 9.4/16.1 MB 1.6 MB/s eta 0:00:05
   ------------------------ --------------- 9.7/16.1 MB 1.6 MB/s eta 0:00:04
   ------------------------- -------------- 10.2/16.1 MB 1.6 MB/s eta 0:00:04
   ------------------------- -------------- 10.2/16.1 MB 1.6 MB/s eta 0:00:04
   -------------------------- ------------- 10.5/16.1 MB 1.6 MB/s eta 0:00:04
   -------------------------- ------------- 10.7/16.1 MB 1.6 MB/s eta 0:00:04
   ---------------------------- ----------- 11.3/16.1 MB 1.6 MB/s eta 0:00:04
   ---------------------------- ----------- 11.5/16.1 MB 1.5 MB/s eta 0:00:03
   ----------------------------- ---------- 11.8/16.1 MB 1.5 MB/s eta 0:00:03
   ------------------------------ --------- 12.1/16.1 MB 1.5 MB/s eta 0:00:03
   ------------------------------ --------- 12.3/16.1 MB 1.5 MB/s eta 0:00:03
   -------------------------------- ------- 13.1/16.1 MB 1.6 MB/s eta 0:00:02
   --------------------------------- ------ 13.6/16.1 MB 1.6 MB/s eta 0:00:02
   ---------------------------------- ----- 13.9/16.1 MB 1.6 MB/s eta 0:00:02
   ----------------------------------- ---- 14.4/16.1 MB 1.6 MB/s eta 0:00:02
   ----------------------------------- ---- 14.4/16.1 MB 1.6 MB/s eta 0:00:02
   ------------------------------------- -- 14.9/16.1 MB 1.6 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.1 MB 1.6 MB/s eta 0:00:01
   -------------------------------------- - 15.5/16.1 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 1.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='pochi2002*',
    database='Dataspark'
)
cursor = connection.cursor()  # Use 'cursor' here instead of 'curso'
cursor

## CUSTOMER

In [10]:
create_customer_table = """
CREATE TABLE IF NOT EXISTS customer (
    CustomerKey INT PRIMARY KEY,
    Gender VARCHAR(10),
    Name VARCHAR(255),
    City VARCHAR(255),
    StateCode VARCHAR(10),
    State VARCHAR(255),
    ZipCode VARCHAR(20),
    Country VARCHAR(255),
    Continent VARCHAR(50),
    Birthday DATE
);
"""
cursor.execute(create_customer_table)
connection.commit()

In [ ]:
customer_df = pd.read_csv(r'C:\Users\Priyanka Malavade\Desktop\Data Spark\cleaned_dataset\cleaned_customer.csv')
customer_df = customer_df.where(pd.notnull(customer_df), None)

for index, row in customer_df.iterrows():

    insert_customer = """
    INSERT IGNORE INTO customer (CustomerKey, Gender, Name, City, StateCode, State, ZipCode, Country, Continent, Birthday)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    cursor.execute(insert_customer, (
        row['CustomerKey'], row['Gender'], row['Name'], row['City'], row['State Code'], 
        row['State'], row['Zip Code'], row['Country'], row['Continent'], row['Birthday']
    ))

connection.commit()
select_query = ("SELECT * FROM customer LIMIT 3") # Get the first 3 records for review
cursor.execute(select_query)

# Fetch and print the results
result = cursor.fetchall()
for row in result:
    print(row)

(301, 'Female', 'Lilly Harding', 'WANDEARAH EAST', 'SA', 'South Australia', '5523', 'Australia', 'Australia', datetime.date(1939, 7, 3))
(325, 'Female', 'Madison Hull', 'MOUNT BUDD', 'WA', 'Western Australia', '6522', 'Australia', 'Australia', datetime.date(1979, 9, 27))
(554, 'Female', 'Claire Ferres', 'WINJALLOK', 'VIC', 'Victoria', '3380', 'Australia', 'Australia', datetime.date(1947, 5, 26))

## PRODUCT

In [15]:
import mysql.connector
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='pochi2002*',
    database='Dataspark'
)
cursor = connection.cursor()  # Use 'cursor' here instead of 'curso'
cursor
create_product_table = """
CREATE TABLE IF NOT EXISTS product (
    ProductKey INT PRIMARY KEY,
    ProductName VARCHAR(255),
    Brand VARCHAR(100),
    Color VARCHAR(50),
    UnitCostUSD DECIMAL(10, 2),
    UnitPriceUSD DECIMAL(10, 2),
    SubcategoryKey INT,
    Subcategory VARCHAR(255),
    CategoryKey INT,
    Category VARCHAR(255)
);
"""
cursor.execute(create_product_table)
connection.commit()

In [16]:
product_df = pd.read_csv(r'C:\Users\Priyanka Malavade\Desktop\Data Spark\cleaned_dataset\cleaned_products.csv')
for index, row in product_df.iterrows():
    insert_product = """
    INSERT IGNORE INTO product (ProductKey,ProductName,Brand,Color,UnitCostUSD,UnitPriceUSD,SubcategoryKey,Subcategory,CategoryKey,Category)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    cursor.execute(insert_product, (
        row['ProductKey'], row['Product Name'], row['Brand'], row['Color'], row['Unit Cost USD'], 
        row['Unit Price USD'], row['SubcategoryKey'], row['Subcategory'], row['CategoryKey'], row['Category']
    ))

connection.commit()
select_query = ("SELECT * FROM product LIMIT 3") # Get the first 3 records for review
cursor.execute(select_query)

# Fetch and print the results
result = cursor.fetchall()
for row in result:
    print(row)

(1, 'Contoso 512MB MP3 Player E51 Silver', 'Contoso', 'Silver', Decimal('6.62'), Decimal('12.99'), 101, 'MP4&MP3', 1, 'Audio')
(2, 'Contoso 512MB MP3 Player E51 Blue', 'Contoso', 'Blue', Decimal('6.62'), Decimal('12.99'), 101, 'MP4&MP3', 1, 'Audio')
(3, 'Contoso 1G MP3 Player E100 White', 'Contoso', 'White', Decimal('7.40'), Decimal('14.52'), 101, 'MP4&MP3', 1, 'Audio')

## EXCHANGE RATES

In [5]:
create_exchange_rates_table = """
CREATE TABLE IF NOT EXISTS exchange_rates (
    Date DATE PRIMARY KEY,
    Currency VARCHAR(10),
    Exchange DECIMAL(10, 4)
);
"""
cursor.execute(create_exchange_rates_table)
connection.commit()

In [6]:
exchange_df = pd.read_csv(r'C:\Users\Priyanka Malavade\Desktop\Data Spark\cleaned_dataset\cleaned_exchange_rates.csv')
for index,row in exchange_df.iterrows():
    insert_exchange_rates="""
    INSERT IGNORE INTO exchange_rates (Date,Currency,Exchange)
    VALUES (%s, %s, %s)
    """
    cursor.execute(insert_exchange_rates, (
        row['Date'], row['Currency'], row['Exchange']
    ))

connection.commit()
select_query = ("SELECT * FROM exchange_rates LIMIT 3") # Get the first 3 records for review
cursor.execute(select_query)

# Fetch and print the results
result = cursor.fetchall()
for row in result:
    print(row)

(datetime.date(2015, 1, 1), 'USD', Decimal('1.0000'))
(datetime.date(2015, 1, 2), 'USD', Decimal('1.0000'))
(datetime.date(2015, 1, 3), 'GBP', Decimal('0.6477'))

## SALES

In [7]:
create_sales_table = """
CREATE TABLE IF NOT EXISTS sales (
    OrderNumber INT,
    LineItem INT,
    OrderDate DATE,
    DeliveryDate DATE,
    CustomerKey INT,
    StoreKey INT,
    ProductKey INT,
    Quantity INT,
    CurrencyCode VARCHAR(5),
    PRIMARY KEY (OrderNumber, LineItem),
    FOREIGN KEY (CustomerKey) REFERENCES customer(CustomerKey),
    FOREIGN KEY (ProductKey) REFERENCES product(ProductKey)
);
"""
cursor.execute(create_sales_table)
connection.commit()

In [8]:
sale_df = pd.read_csv(r'C:\Users\Priyanka Malavade\Desktop\Data Spark\cleaned_dataset\cleaned_sales.csv')
for index,row in sale_df.iterrows():
    insert_sales="""
    INSERT IGNORE INTO sales (OrderNumber,LineItem,OrderDate,DeliveryDate,CustomerKey,StoreKey,ProductKey,Quantity,CurrencyCode)
    VALUES (%s, %s, %s,%s, %s, %s,%s, %s, %s)
    """
    cursor.execute(insert_sales, (
        row['Order Number'], row['Line Item'], row['Order Date'],
        row['Delivery Date'], row['CustomerKey'], row['StoreKey'],
        row['ProductKey'], row['Quantity'], row['Currency Code']
    ))

connection.commit()
select_query = ("SELECT * FROM sales LIMIT 3") # Get the first 3 records for review
cursor.execute(select_query)

# Fetch and print the results
result = cursor.fetchall()
for row in result:
    print(row)

(366000, 1, datetime.date(2016, 1, 1), None, 265598, 10, 1304, 1, 'CAD')
(366001, 1, datetime.date(2016, 1, 1), datetime.date(2016, 1, 13), 1269051, 0, 1048, 2, 'USD')
(366001, 2, datetime.date(2016, 1, 1), datetime.date(2016, 1, 13), 1269051, 0, 2007, 1, 'USD')

## MERGED SALES_PRODUCT_CUSTOMER TABLE

In [9]:
create_sale_product_customer_table = """
CREATE TABLE IF NOT EXISTS sale_product_customer (
    OrderNumber INT,
    LineItem INT,
    OrderDate DATE,
    DeliveryDate DATE,
    CustomerKey INT,
    StoreKey INT,
    ProductKey INT,
    Quantity INT,
    CurrencyCode VARCHAR(10),
    Gender VARCHAR(10),
    Name VARCHAR(255),
    City VARCHAR(255),
    StateCode VARCHAR(10),
    State VARCHAR(255),
    ZipCode VARCHAR(20),
    Country VARCHAR(255),
    Continent VARCHAR(50),
    Birthday DATE,
    ProductName VARCHAR(255),
    Brand VARCHAR(100),
    Color VARCHAR(50),
    UnitCostUSD DECIMAL(10, 2),
    UnitPriceUSD DECIMAL(10, 2),
    SubcategoryKey INT,
    Subcategory VARCHAR(255),
    CategoryKey INT,
    Category VARCHAR(255),
    PRIMARY KEY (OrderNumber, LineItem),
    FOREIGN KEY (CustomerKey) REFERENCES customer(CustomerKey),
    FOREIGN KEY (ProductKey) REFERENCES product(ProductKey),
    FOREIGN KEY (StoreKey) REFERENCES stores(StoreKey)
);
"""
cursor.execute(create_sale_product_customer_table)
connection.commit()

In [12]:
merged_sales_product_customer_df=pd.read_csv(r'C:\Users\Priyanka Malavade\Desktop\Data Spark\cleaned_dataset\merged_sales_customer_product_data.csv')
merged_sales_product_customer_df = merged_sales_product_customer_df.where(pd.notnull(merged_sales_product_customer_df), None)


for index,row in merged_sales_product_customer_df.iterrows():
    insert_sale_product_customer = """
    INSERT IGNORE INTO sale_product_customer (
        OrderNumber, LineItem, OrderDate, DeliveryDate, CustomerKey, StoreKey, ProductKey, Quantity, CurrencyCode, 
        Gender, Name, City, StateCode, State, ZipCode, Country, Continent, Birthday,
        ProductName, Brand, Color, UnitCostUSD, UnitPriceUSD, SubcategoryKey, Subcategory, CategoryKey, Category
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, 
            %s, %s, %s, %s, %s, %s, %s, %s, %s, 
            %s, %s, %s, %s, %s, %s, %s, %s,%s)
    """
    cursor.execute(insert_sale_product_customer, (
        row['Order Number'], row['Line Item'], row['Order Date'], row['Delivery Date'], row['CustomerKey'], 
        row['StoreKey'], row['ProductKey'], row['Quantity'], row['Currency Code'], row['Gender'], row['Name'], 
        row['City'], row['State Code'], row['State'], row['Zip Code'], row['Country'], row['Continent'], row['Birthday'], 
        row['Product Name'], row['Brand'], row['Color'], row['Unit Cost USD'], row['Unit Price USD'], 
        row['SubcategoryKey'], row['Subcategory'], row['CategoryKey'], row['Category']
    ))

connection.commit()
select_query = ("SELECT * FROM sale_product_customer LIMIT 3") # Get the first 3 records for review
cursor.execute(select_query)

# Fetch and print the results
result = cursor.fetchall()
for row in result:
    print(row)

(366000, 1, datetime.date(2016, 1, 1), None, 265598, 10, 1304, 1, 'CAD', 'Male', 'Tyler Vaught', 'London', 'ON', 'Ontario', 'N5W 5K6', 'Canada', 'North America', datetime.date(1971, 3, 23), 'Contoso Lens Adapter M450 White', 'Contoso', 'White', Decimal('31.27'), Decimal('68.00'), 406, 'Cameras & Camcorders Accessories', 4, 'Cameras and camcorders')
(366004, 1, datetime.date(2016, 1, 1), None, 1107461, 38, 163, 6, 'GBP', 'Male', 'Sam Nelson', 'BURSCOUGH BRIDGE', 'West Lanca', 'West Lancashire', 'L40 8UX', 'United Kingdom', 'Europe', datetime.date(1979, 11, 28), 'Adventure Works 52" LCD HDTV X790W White', 'Adventure Works', 'White', Decimal('527.53'), Decimal('1592.20'), 201, 'Televisions', 2, 'TV and Video')
(366004, 2, datetime.date(2016, 1, 1), None, 1107461, 38, 1529, 2, 'GBP', 'Male', 'Sam Nelson', 'BURSCOUGH BRIDGE', 'West Lanca', 'West Lancashire', 'L40 8UX', 'United Kingdom', 'Europe', datetime.date(1979, 11, 28), 'The Phone Company PDA Handheld 3.5 inch M610 Black', 'The Phone Company', 'Black', Decimal('117.27'), Decimal('255.00'), 504, 'Smart phones & PDAs', 5, 'Cell phones')

## STORES

In [13]:
cursor=connection.cursor()
create_stores_table = """
CREATE TABLE IF NOT EXISTS stores (
    StoreKey INT PRIMARY KEY,
    Country VARCHAR(255),
    State VARCHAR(255),
    SquareMeters INT,
    OpenDate DATE
);
"""
cursor.execute(create_stores_table)
connection.commit()
#StoreKey,Country,State,Square Meters,Open Date

In [ ]:

import pandas as pd
import mysql.connector

#  Read the CSV file
store_df = pd.read_csv(r'C:\Users\Priyanka Malavade\Desktop\Data Spark\cleaned_dataset\cleaned_stores.csv')

#  Drop rows with missing values in essential columns (StoreKey, Country, State)
store_df = store_df.dropna(subset=['StoreKey', 'Country', 'State'], how='any')

#  Drop rows where all values are NaN (empty rows)
store_df = store_df.dropna(how='all')

#  Replace NaN values with None for MySQL compatibility
# The DataFrame.applymap ensures that NaN values are converted to None
store_df = store_df.applymap(lambda x: None if pd.isna(x) else x)

# Establish MySQL connection
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='pochi2002*',
    database='Dataspark'
)
cursor = connection.cursor() 


#  Insert cleaned data into MySQL
for index, row in store_df.iterrows():
    insert_stores = """
    INSERT IGNORE INTO stores (StoreKey, Country, State, SquareMeters, OpenDate)
    VALUES (%s, %s, %s, %s, %s)
    """
    # Prepare the data as a tuple
    data = (
        row['StoreKey'], row['Country'], row['State'], row['Square Meters'], row['Open Date']
    )

    try:
        cursor.execute(insert_stores, data)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        # Optionally, log or handle specific errors

# Commit the transaction to the database
connection.commit()

# Step 8: Optionally, verify the insertion by querying the first few rows
select_query = "SELECT * FROM stores LIMIT 60"
cursor.execute(select_query)
result = cursor.fetchall()

#  Print the results to verify the insertion
for row in result:
    print(row)

#  Close the cursor and connection
cursor.close()
connection.close()

C:\Users\Priyanka Malavade\AppData\Local\Temp\ipykernel_13072\614137866.py:15: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  store_df = store_df.applymap(lambda x: None if pd.isna(x) else x)

Error: 1054 (42S22): Unknown column 'nan' in 'field list'
(1, 'Australia', 'Australian Capital Territory', 595, datetime.date(2008, 1, 1))
(2, 'Australia', 'Northern Territory', 665, datetime.date(2008, 1, 12))
(3, 'Australia', 'South Australia', 2000, datetime.date(2012, 1, 7))
(4, 'Australia', 'Tasmania', 2000, datetime.date(2010, 1, 1))
(5, 'Australia', 'Victoria', 2000, datetime.date(2015, 12, 9))
(6, 'Australia', 'Western Australia', 2000, datetime.date(2010, 1, 1))
(7, 'Canada', 'New Brunswick', 1105, datetime.date(2007, 5, 7))
(8, 'Canada', 'Newfoundland And Labrador', 2105, datetime.date(2014, 7, 2))
(9, 'Canada', 'Northwest Territories', 1500, datetime.date(2005, 3, 4))
(10, 'Canada', 'Nunavut', 1210, datetime.date(2015, 4, 4))
(11, 'Canada', 'Yukon', 1210, datetime.date(2009, 6, 3))
(12, 'France', 'Basse-Normandie', 350, datetime.date(2012, 6, 6))
(13, 'France', 'Corse', 245, datetime.date(2013, 6, 7))
(14, 'France', 'Franche-Comtã©', 350, datetime.date(2009, 12, 15))
(15, 'France', 'La Rã©Union', 400, datetime.date(2015, 1, 1))
(16, 'France', 'Limousin', 385, datetime.date(2010, 6, 3))
(17, 'France', 'Martinique', 350, datetime.date(2007, 7, 8))
(18, 'France', 'Mayotte', 310, datetime.date(2012, 8, 8))
(19, 'Germany', 'Berlin', 1295, datetime.date(2015, 4, 4))
(20, 'Germany', 'Brandenburg', 1715, datetime.date(2012, 12, 15))
(21, 'Germany', 'Freie Hansestadt Bremen', 560, datetime.date(2018, 6, 3))
(22, 'Germany', 'Freistaat Thã¼Ringen', 2000, datetime.date(2008, 3, 6))
(23, 'Germany', 'Hamburg', 1365, datetime.date(2010, 1, 1))
(24, 'Germany', 'Hessen', 1855, datetime.date(2012, 12, 15))
(25, 'Germany', 'Mecklenburg-Vorpommern', 1610, datetime.date(2010, 1, 1))
(26, 'Germany', 'Saarland', 350, datetime.date(2019, 3, 5))
(27, 'Germany', 'Sachsen-Anhalt', 2000, datetime.date(2008, 8, 8))
(28, 'Italy', 'Caltanissetta', 1200, datetime.date(2012, 12, 15))
(29, 'Italy', 'Enna', 1000, datetime.date(2008, 1, 1))
(30, 'Italy', 'Pesaro', 2100, datetime.date(2008, 1, 12))
(31, 'Netherlands', 'Drenthe', 1085, datetime.date(2012, 1, 7))
(32, 'Netherlands', 'Flevoland', 910, datetime.date(2010, 1, 1))
(33, 'Netherlands', 'Friesland', 1540, datetime.date(2015, 12, 9))
(34, 'Netherlands', 'Groningen', 1365, datetime.date(2010, 1, 1))
(35, 'Netherlands', 'Zeeland', 1225, datetime.date(2007, 5, 7))
(36, 'United Kingdom', 'Armagh', 1300, datetime.date(2014, 7, 2))
(37, 'United Kingdom', 'Ayrshire', 2100, datetime.date(2005, 3, 4))
(38, 'United Kingdom', 'Belfast', 1800, datetime.date(2015, 4, 4))
(39, 'United Kingdom', 'Blaenau Gwent', 2100, datetime.date(2009, 6, 3))
(40, 'United Kingdom', 'Dungannon And South Tyrone', 1300, datetime.date(2012, 6, 6))
(41, 'United Kingdom', 'Fermanagh', 2100, datetime.date(2013, 6, 7))
(42, 'United Kingdom', 'North Down', 1900, datetime.date(2009, 12, 15))
(43, 'United States', 'Alaska', 1190, datetime.date(2015, 1, 1))
(44, 'United States', 'Arkansas', 2000, datetime.date(2010, 6, 3))
(45, 'United States', 'Connecticut', 2000, datetime.date(2007, 7, 8))
(46, 'United States', 'Delaware', 1015, datetime.date(2012, 8, 8))
(47, 'United States', 'Hawaii', 1120, datetime.date(2015, 4, 4))
(48, 'United States', 'Idaho', 1540, datetime.date(2012, 12, 15))
(49, 'United States', 'Iowa', 2000, datetime.date(2018, 6, 3))
(50, 'United States', 'Kansas', 2000, datetime.date(2008, 3, 6))
(51, 'United States', 'Maine', 1295, datetime.date(2010, 1, 1))
(52, 'United States', 'Mississippi', 2000, datetime.date(2009, 6, 3))
(53, 'United States', 'Montana', 1260, datetime.date(2012, 6, 6))
(54, 'United States', 'Nebraska', 2000, datetime.date(2013, 6, 7))
(55, 'United States', 'Nevada', 2000, datetime.date(2009, 12, 15))
(56, 'United States', 'New Hampshire', 1260, datetime.date(2015, 1, 1))
(57, 'United States', 'New Mexico', 1645, datetime.date(2010, 6, 3))
(58, 'United States', 'North Dakota', 1330, datetime.date(2007, 7, 8))
(59, 'United States', 'Oregon', 2000, datetime.date(2012, 8, 8))
(60, 'United States', 'Rhode Island', 1260, datetime.date(2005, 4, 4))