In [1]:
import pandas as pd

In [2]:
customer_df=pd.read_csv(r'C:\Users\Priyanka Malavade\Desktop\Data Spark\cleaned_dataset\cleaned_customer.csv')
product_df=pd.read_csv(r'C:\Users\Priyanka Malavade\Desktop\Data Spark\cleaned_dataset\cleaned_products.csv')
sale_df=pd.read_csv(r'C:\Users\Priyanka Malavade\Desktop\Data Spark\cleaned_dataset\cleaned_sales.csv')

#### Merging Sales Table With Customer Table('Customerkey' using left join)

In [3]:
sale_customer_df = pd.merge(sale_df, customer_df, on='CustomerKey', how='left')

#### Merging Sales Table With Product Table('Productkey' using left join)

In [4]:
sale_customer_product_df = pd.merge(sale_customer_df, product_df, on='ProductKey', how='left')

In [5]:
sale_customer_product_df.head(3)  #displays only 3 rows

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Unnamed: 0_x,...,Unnamed: 0_y,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,366000,1,2016-01-01,Not Delivered Yet,265598,10,1304,1,CAD,1948,...,1303,Contoso Lens Adapter M450 White,Contoso,White,31.27,68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders
1,366001,1,2016-01-01,2016-01-13 00:00:00,1269051,0,1048,2,USD,8967,...,1047,A. Datum SLR Camera X136 Silver,A. Datum,Silver,141.47,427.00,402,Digital SLR Cameras,4,Cameras and camcorders
2,366001,2,2016-01-01,2016-01-13 00:00:00,1269051,0,2007,1,USD,8967,...,2006,Fabrikam Microwave 1.5CuFt X1100 Black,Fabrikam,Black,220.64,665.94,803,Microwaves,8,Home Appliances

In [7]:
print(sale_customer_product_df.columns)

Index(['Order Number', 'Line Item', 'Order Date', 'Delivery Date',
       'CustomerKey', 'StoreKey', 'ProductKey', 'Quantity', 'Currency Code',
       'Unnamed: 0_x', 'Gender', 'Name', 'City', 'State Code', 'State',
       'Zip Code', 'Country', 'Continent', 'Birthday', 'Unnamed: 0_y',
       'Product Name', 'Brand', 'Color', 'Unit Cost USD', 'Unit Price USD',
       'SubcategoryKey', 'Subcategory', 'CategoryKey', 'Category'],
      dtype='object')

In [8]:
# Dropping all columns whose name starts with 'Unnamed'
sale_customer_product_df = sale_customer_product_df.loc[:, ~sale_customer_product_df.columns.str.contains('^Unnamed')]

In [9]:
sale_customer_product_df.columns

Index(['Order Number', 'Line Item', 'Order Date', 'Delivery Date',
       'CustomerKey', 'StoreKey', 'ProductKey', 'Quantity', 'Currency Code',
       'Gender', 'Name', 'City', 'State Code', 'State', 'Zip Code', 'Country',
       'Continent', 'Birthday', 'Product Name', 'Brand', 'Color',
       'Unit Cost USD', 'Unit Price USD', 'SubcategoryKey', 'Subcategory',
       'CategoryKey', 'Category'],
      dtype='object')

In [10]:
sale_customer_product_df.isnull().sum()

Order Number       0
Line Item          0
Order Date         0
Delivery Date      0
CustomerKey        0
StoreKey           0
ProductKey         0
Quantity           0
Currency Code      0
Gender             0
Name               0
City               0
State Code        30
State              0
Zip Code           0
Country            0
Continent          0
Birthday           0
Product Name       0
Brand              0
Color              0
Unit Cost USD      0
Unit Price USD     0
SubcategoryKey     0
Subcategory        0
CategoryKey        0
Category           0
dtype: int64

In [13]:

# Use .loc to modify the column in place
sale_customer_product_df.loc[:, 'State Code'] = sale_customer_product_df['State Code'].fillna('Unknown')

In [14]:
sale_customer_product_df.isnull().sum()

Order Number      0
Line Item         0
Order Date        0
Delivery Date     0
CustomerKey       0
StoreKey          0
ProductKey        0
Quantity          0
Currency Code     0
Gender            0
Name              0
City              0
State Code        0
State             0
Zip Code          0
Country           0
Continent         0
Birthday          0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [15]:
sale_customer_product_df.dtypes

Order Number        int64
Line Item           int64
Order Date         object
Delivery Date      object
CustomerKey         int64
StoreKey            int64
ProductKey          int64
Quantity            int64
Currency Code      object
Gender             object
Name               object
City               object
State Code         object
State              object
Zip Code           object
Country            object
Continent          object
Birthday           object
Product Name       object
Brand              object
Color              object
Unit Cost USD     float64
Unit Price USD    float64
SubcategoryKey      int64
Subcategory        object
CategoryKey         int64
Category           object
dtype: object

In [22]:
# Converting 'Order Date', 'Delivery Date', and 'Birthday' to datetime, with invalid entries as NaT
# Using .loc to modify columns safely
sale_customer_product_df.loc[:, 'Order Date'] = pd.to_datetime(sale_customer_product_df['Order Date'], errors='coerce')
sale_customer_product_df.loc[:, 'Delivery Date'] = pd.to_datetime(sale_customer_product_df['Delivery Date'], errors='coerce')
sale_customer_product_df.loc[:, 'Birthday'] = pd.to_datetime(sale_customer_product_df['Birthday'], errors='coerce')

In [23]:
categorical_columns = ['Gender', 'Currency Code', 'State Code', 'State', 'City', 'Country', 'Continent', 'Product Name', 'Brand', 'Color', 'Subcategory', 'Category']
# Using .loc to modify multiple columns to 'category' dtype
sale_customer_product_df.loc[:, categorical_columns] = sale_customer_product_df[categorical_columns].astype('category')

In [25]:
# Using .loc to modify the column type
sale_customer_product_df.loc[:, 'Zip Code'] = sale_customer_product_df['Zip Code'].astype('category')

In [26]:
sale_customer_product_df.dtypes

Order Number               int64
Line Item                  int64
Order Date        datetime64[ns]
Delivery Date     datetime64[ns]
CustomerKey                int64
StoreKey                   int64
ProductKey                 int64
Quantity                   int64
Currency Code           category
Gender                  category
Name                      object
City                    category
State Code              category
State                   category
Zip Code                category
Country                 category
Continent               category
Birthday          datetime64[ns]
Product Name            category
Brand                   category
Color                   category
Unit Cost USD            float64
Unit Price USD           float64
SubcategoryKey             int64
Subcategory             category
CategoryKey                int64
Category                category
dtype: object

In [27]:
sale_customer_product_df.duplicated().sum()

np.int64(0)

In [28]:
sale_customer_product_df.to_csv(r'C:\Users\Priyanka Malavade\Desktop\Data Spark\cleaned_dataset\merged_sales_customer_product_data.csv', index=False)